@media only screen and (min-width : 768px)
{ 
header,
.main,
footer {
  
  width: 100%;
  margin-left:21em;
}

.error{
    padding-top:15em;
    padding-bottom:10em;
    font-weight:bold;
    background-color:#0075c9 !important;
}


.contenedor-error{
    height:100%;
     width: 100%;
     display:flex;
     justify-content:center;
    align-items:center;
    margin-top:4%;
}

.img-error{
        display: flex;
    justify-content: flex-end;
    
    width:30%;
}


.width-error{
    width:30%;
    height: 50%;
        
    padding-right: 7%;

  
}

.foot{
    background-color: #0075C9;
    color:white;
    font-size:0.9em;
    text-decoration:none;
}

.footfin{
    background-color: #C22820;
    color:white;
    font-size:0.9em;
    text-decoration:none;
}

.footli{
    list-style:none;
}

.footerimg{
    height:4em;
}

.foc{
    outline:none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.fixed-top2 {
  position: fixed;
  top: 5em;
  right: 0;
  left: 0;
  z-index: 1;
}

.fixed-top3 {
  position: fixed;
  top: 5em;
  right: 0;
  left: 0;
  z-index: 1;
}

.fixed-top4 {
  position: fixed;
  top: 8em;
  right: 0;
  left: 0;
  z-index: 1;
}

.fixed-car {
  top: 7em;
  right: 0;
  left: 0;
  
}




.navfont{
    font-size: 14px !important;
}

footer{
    vertical-align: bottom;
    background-color: #0075C9;
}

footerfin{
    vertical-align: bottom;
    background-color: #C22820;
}

html, body{
    overflow-x:hidden;
}

body{
    font-family: "Roboto", sans-serif;  
    padding: 0px; 
    width: 100%;
    font-size:16px;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

.apartado{
    background-color: #0075C9;
    height: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.condiciones{
    text-decoration:underline;
    
}

.margin-contacto{
    text-align: center;
}

.mg-con-text{
    margin-left:4%;
}

.mg-con-img{
    margin-left:3%;
}

.caja-flex{
    display:flex;
    flex-wrap: wrap;
     align-items: center;
    justify-content: center;
    
    
}
.caja-vivo{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom:3%;
    
}

.flex-between{
display: flex;
    justify-content: space-between;
    width: 50%;
    
}

.flex{
    display: flex;
    justify-content: space-around;
    
}
.ancho{
    width:40%;
    display: flex;
}

.subrallado-contacto{
    text-decoration: underline;
    font-weight: 500;
    color:#0075c9 !important;
    
}
.text-left{
   text-align:left;
}

.title-contacto{
    padding-bottom:3%;
    padding-top:10%;
    
}
.timeline-mobil{
    width:70%;
    
}

.timeline{
    height:10%;
}

.caja1{
    width:70%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-left:14%;
    margin-right:14%;
}


/*.timeline{
    
    height:20em;
    display: flex;
    justify-content: center;
    margin:0;
    opacity:0;
    position:absolute;
}

.time-absolute{
    width:4%;
    display: flex;
    justify-content: center;
    position:absolute;
    transform:rotate(90deg);
    margin-left:90%;
    margin-top:24%;
    height:15em;
}*/

.position-absolute{
    position:absolute ! important;
}

.position-relative{
    position:relative ! important;
    background-color:#0075C9;
    
}
.promoimg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-bottom:39em;
   
}

.titulo{
    margin-top:4vh;
    margin-bottom:4vh;
    
}

h5{
    font-size:1em;
    font-weight: 500;
}

h6{
    font-size:1.5rem;
    font-weight: 500;
    
}


.line{
    line-height: 2.5vh;
    padding-bottom:2vh;
    
}


.line-time{
    line-height: 3vh;
    padding-bottom:2vh;
    
    margin-right: 20%;
    margin-left: 20%;

    
}


.line-titular{
    line-height: 4vh;
    margin-bottom:2%;

}

.line-titular-texto{
    line-height: 4vh;
    margin-bottom:2%;
  
    
}

.line-titular2{
    line-height: 2.2vh;
    margin-bottom:2%;

}

.line-titular-texto2{
    line-height: 2.2vh;
    margin-bottom:2%;
  
    
}

.titular-time{
    
    line-height: 4vh;
    padding-bottom:0%;
}

.margen{
    padding-bottom:5%;
    
}

.subrallado{
    text-decoration: underline;
    font-weight: 500;
    color:#adc743 !important;
}
.linea-verde{
    color:#adc743 !important;
    background-color:#adc743 !important;
    height:2px;
    margin-bottom: 7%;
}

.block{
    color:#fff !important;
}

.promoimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.show-promo{
    width: 65vw;
    
}

.fondo-blanco{
    background-color:#ffff;
}

.fondo-swipe{
    background-color:#005da0;
    border-radius:0px 0px 10px 10px;
   
}

.fondo-swipe2{
    background-color:#fff;
    border-radius:0px 0px 10px 10px;
   
}




.columnas-texto{
   
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;

    
}

.separador{
    border-top-color: #0075c9;
    border-top-style: solid;
    border-top-width: 20px;
    margin-top: -30px;
    
}

.separador2{
    border-top-color: #E5F0F9;
    border-top-style: solid;
    border-top-width: 20px;
    margin-top: -30px;
    
}

/*codigo sofi*/

.pedir-gasoleo{
   
    display: flex;
  
    height: 100%;
    width: 100%;
 
    padding-left:10%;
     padding-right:10%;
   

    
}

.fondo-gasoleo{
    background-color: #adc743;
    border-radius: 0px 0px 10px 10px;

}

.color-texto{
    color:#fff;
}

.flex-pedido-general{
     display:flex;
    flex-direction: row;
     width: 100%;
     align-items: center;
     justify-content: center;

}

.flex-pedido{
    display:flex;
    flex-direction:column;
    width: 40%;
}

/*codigo sofi*/


.width-columnas{
    width: 37%;
    

}

.width-sus{
    width: 100%;
    height: 100%;
    

}

.sus-medida{
    height: 69vh;
    width:100%;
    srollbar:none;
}

.img-texto{
    width:100%;
    
}

.ocultar-desktop{

    display: none;
}



.color-texto{
    color:#fff;
  

}

.margin1{
    
    margin-left:12%;
    margin-top:5%;
    
    
}

.margin2{
    
    margin-left:12%;
    margin-bottom:4%;
    
    
}

.margin{
    margin-left:5%;
    margin-top:5%;
}

.margin3{
    margin-left:5%;
    margin-bottom:4%;
}

.margin4{
    
    margin-bottom:4%;
}


.alinear-boton{
    margin-top:0%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content:flex-end;
    padding-right:18%;
    padding-top:2%;
  
}

.alinear-boton-compra{
    margin-top:0%;
    display: flex;
    flex-direction: row;
    height: 100%;
  
    
    padding-right:0%;
    margin-bottom: 0%;
    
  
}


.bg-caja{
    background-color:#ffff;
    height:90%;
    width:66.66666667%;
    padding-right: 0px !important; 
    padding-left: 0px !important;
    border-radius: 10px;
    /*outline-style: solid;
    outline-width: 20px;
    outline-color: #ffff;*/
}

.bg-caja2{
    background-color:#ffff;
    height:100%;
    
    padding-right: 1em !important; 
    padding-left: 1em !important;
    border-radius: 10px;
    padding-bottom:1em;
}

.bg-caja3{
    background-color:#C22820;
    height:100%;
    padding-top:1em;
    padding-right: 0px !important; 
    padding-left: 0px !important;
    border-radius: 10px;
    
}


.margen-texto{
    margin-left:5%;
}

.margen-img{
    margin-left: 16%;
}

.dos-columnas{
    display:flex;
    
    flex-direction: row;
}

.margin-promo{
    
margin-left:11%;
}

.margin-promo-img{
    margin-left:14%;
    
}
.color-text{
    color:#0075C9;
}

.formato{
    font-size:65% !important;
}
.nueva-sus{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-sus{
    width:25%;
}
.newsletter {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #141e23;
    background-color: #adc743;
    border-radius: 2px;
    max-width: 500px;
    padding: 1.3rem 2rem;
    font-size: 1.2rem;
    line-height: 25px;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s,visibility .6s;
}


#bloque-sus{
    margin-top: 15vh;
    background-color:#adc743;
    margin-left: 16%;
    margin-right: 16%;
    border-radius:10px;

}

.ancho-sus{
    margin-left: 18%;
    margin-right: 20%;
    padding-bottom:1%;
    padding-top:1%;
    
}

.line-sus{
    line-height: 3vh;
   
    
}

.padding-sus{
    padding-top:2%;
    
    
}

.manumain{
    margin-right: 0px !important;
}

hr{
    background-color: #0075C9 !important;
    height :1px;
}

.footerhr{
     background-color: #FFFFFF !important;
     height :0;
     width:73%;
}

.footera{
    color:white;
}

.text-blue {
    color: #0075C9 !important;
}

.text-vivo {
    color: #C22820 !important;
}

.centrar-vivo{
    margin-left: 6%;
}
.secd{
    display:flex;
}
#navbarsur {
    margin-bottom:0px !important;
    background-color: white;
    font-size:1.1em;
}

.navbar{
    margin-bottom:0px !important;
    color:#0075C9 !important;
}

.pt-2{
    padding-top: 2em;
}

.pt-esp{
    padding-top: 0.2em;
} 

.pt-1{
    padding-top: 1em;
} 

.pt-12{
    padding-top: 12em;
} 

.pt-med{
    padding-top: 1.7em;
}

.carousel-inner {
 
    border-left: 0px;
    border-right: 0px;
}

.carousel-indicators {
    bottom: 0;
}

.navbar-default .navbar-brand {
    color: #0075C9 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #0075C9 !important;
}

textarea{
    overflow: visible;
    resize: none;
}
.opacity-1 {
     /* la vieja sintaxis, obsoleta, pero todavía necesaria, prefijada, para Opera y Navegadores basados en Webkit */
    background: -prefix-linear-gradient(left top, rgba(234,244,251,.1), rgba(255,251,251,0.1));

    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to bottom right, rgba(234,244,251,.1), rgba(255,251,251,0.1));
  background-color: rgba(234,244,251,.5);
  height: 20em;
  width: 45em;
  position: absolute;
  top: 4em;
  left: 5em;
  color: #fff !important;
  text-align: center;
  padding-top: 1em;
  border-radius: 1em;
}

.float-right{
    float:right;
}
.carhead{
    background-color: black;
    color: white;
}

::-webkit-input-placeholder {
   text-align: left;
   vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: left;
   vertical-align: middle;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: left;  
   vertical-align: middle;
}

:-ms-input-placeholder {  
   text-align: left; 
   vertical-align: middle;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.ar{
    height: 30px;
    background-color: lightgrey !important;
}

.ard{
    height: 50px;
    background-color: #0075C9 !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.gris{
    padding: 1%;
    height: 600px;
    width: 85%;
    background-color: lightgrey !important;
}

.grisnoruta{
    padding: 1%;
    height: 700px;
    width: 85%;
    background-color: lightgrey !important;
}

.grispedido{
    padding: 1%;
    height: 500px;
    width: 85%;
    background-color: #d3d3d3 !important;
}

.forms-control-blue{
    color: #0075C9;
}

.btn-compra{
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}

.buttoncons{
    color: white;
    background-color: #0075C9 !important;
}

.btn-primary {
    color: #fff;
    background-color: #0075c9 !important;
    border-color: #2e6da4;
}

.width-btn{
    width: 26%;
    padding-left: 9%;
}
    

.btnheight{
    color: white;
    background-color: #0075C9 !important;
    padding: 0px 0px !important;
}

.buttonfinan{
    color: white;
    background-color: #C22820 !important;
}
.hazped{
    font-size: 1.25em;
}
.grisbienvenido{
    height: 5em;
    width: 100%;
    background-color: white;
}

.griscuenta{
    padding: 1%;
    height: 40%;
    width: 85%;
    background-color: #FBFBFB;
}

.grisfinanc{
    padding: 1%;
    height: 300px;
    width: 85%;
    background-color: lightgrey !important;
}

.separacion{
    padding: 0.5%;
    height: 1%;
    width: 100%;
    background-color: white;
}

.separaciontrans{
    padding: 0.5%;
    height: 5%;
    width: 100%;
    background-color: transparent;
}

.ocultar-div-desk{
    display:none;
}

.separacionCuenta{
    height: 1%;
    width: 100%;
    background-color: white;
}

.separacionTarifas{
    height: 5px;
    width: 100%;
    background-color: white;
}

.formcons{
    text-align: justify;
    vertical-align: middle;
    }

.formcons2{
    padding-top: 3%;
    text-align: justify;
}


.cuentaForm{
background-color: #FBFBFB;
}

.header{
    width: 100%;
    height: 20% !important;
    padding-bottom: 1%;
}


.bienve{
    padding: 1%;
    background-color: lightgrey;
}

.vertical-line{
    border-left: 1px solid rgb(226, 75,75);
    height: 15em;    
    }
.vertical-line-right{
    border-Right: thick solid #ccc;    
    }

hr.gris2{
    border-top: thick solid #ccc;
}

hr.blue{
   border:  1px rgba(0,117,201,0.1);
   background-color: rgba(0,117,201,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 1em;
   width: 80%;
}

hr.blue-contacto{
    border: 1px rgba(0,117,201,0.1);
    background-color: rgba(0,117,201,0.2) !important;
    margin-top: 0px;
    width: 90%;
}


hr.resumen{
     border: 1px rgba(0,117,201,0.1);
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 1em;
   width: 85%;
}

hr.blue2{
   border-top: 0.5px rgba(0,117,201,0.1);
   background-color: rgba(0,117,201,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:  0px;
   width: 100%;
}

hr.red{
   border-top: solid 0.5px rgba(226, 75,75,0.2) !important;
   background-color: rgba(226, 75,75,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:  0px;
   width: 100%;
}

hr.red2{
   border:  0.5px rgba(226, 75,75,0.2) !important;
   background-color: rgba(226, 75,75,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 1em;
   width: 80%;
}



.sinlist{
    list-style: none;
}

.fecha{
    margin-left: 1%;
}

.total{
    font-size: 1.6em;
}

.totalmini{
    font-size: 1.3em;
}

.peq{
    font-size: 0.8em;
    margin-left: 1em;
}

.pedido{
    padding-top:10% ;
}

.detalles{
    padding-top:5% ;
}
a.detalles{
    color: black !important;
}

.showpanel{
    height: 200px;
    display:none;
}

.swipe-promo1{
    height:25%;
     display:none;
    
}

.swipe-promo2{
    height:25%;
     display:none;
    
}

.swipe-promo3{
    height:25%;
     display:none;
    
}

.swipe-sus{
    height:25%;
     display:none;
    
} 

.direccion{
    height: 300px;
    width: 85%;
    display:none;
}

.slide{
    border-top:0.5px solid #0075C9;
}

.slideimg2 {
    display:none;
}
.slideimg{
    display:block;
    margin-left: 5px;

}
.slideimg3 {
    display:none;
    width: 85%;
}
.slideimg4 {
    display:none;
    width: 85%;
}
.slideimg5 {
    display:none;
    width: 85%;
}

.detalles{
    color:  white;
}

.margin-left{
    margin-left: 1%;
}

.margin-right{
    margin-right: 10%;
}

.margin-vivo{
    margin-right: 10%;
    margin-left: 7%;
}

.imgder{
    height: 200px;
    padding-top: 2%;
     background-color: #9D2235;
    color:  white;
}

p.toggle{
    color: black
}

p.toggle-promo1{
    color:#ffff;
    background-color:#ADC743;
    
}

p.toggle-promo2{
    color:#ffff;
    background-color:#ADC743;
    font-variant:bold;
    
}

p.toggle-promo3{
    color:#fff;
    background-color:#adc743;
}

p.toggle-compra{
    color:#fff;
 background-color:#0075c9;
    
}

p.toggle-error{
    color:#0075c9;
 background-color:#fff;
    
}

p.toggle-sus{
    color:#fff;
 background-color:#0075c9;
    
}

.ulnd{
    text-decoration: none;
    list-style: none;
}

.bg-promo{
    background-color: #0075C9;
     color:white;
     
}

.bg-suscribete{
    color:#fff;
    
     z-index:1;
     
     
    
}

.row-sus{
    display:flex;
    flex-direction:row;
    margin-right: 20%;
    

}
.promo-img{
    width:100%;
}

.promo-img2{
    width:116%;
    padding:5%;
}


.bg-contacto{
    background-color: #d9edf7;
    border-top: 1px solid blue ;
    height: 400px;
    width: 90%;
}
.bg-faq{
    background-color: #0075C9;
    height: 8em;
    width: 101%;
}

.bg-quienes{
    background-color: #d3d3d3;
    border-top: 2px solid blue ;
    height: 80%;
    width: 90%;
}

.quienes{
    list-style:none;
    margin-left: 5%;
    margin-right: 3%;
}

.quienes-politica{
    list-style:none;
    margin-left: 6%;
    margin-right: 9%;
}

.quienes2{
    list-style:none;
    margin-left: 5%;
    margin-right: 3%;
    color:black !important;
}

.contacto{
    background-color: transparent;
    color: #d9edf7;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.contacto2{
    color: blue;
    padding: 5%;
}

.cont{
    padding-top: 5%;
}

.contacta{
    color: blue;
    font-size: 2em;
    padding-left: 5%;
    padding-top: 5%;
}

.titlequest{
    padding-left: 5%;
    padding-top: 5%;
}

.menuCuenta{ 
  height: 60%;
  width: 14%; /* Set the width of the sidebar */ 
  background-color: #FBFBFB; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 0px;
}

.licuenta {
    list-style: none;
    
}

.licuenta,a:hover{
    text-decoration: none;
}


.containerCuenta{
    margin-left: 13em; /* Same as the width of the sidebar */
    width : 70%;
    height : 50%;
    padding: 10px 10px;
    background-color: #FBFBFB;
}

.mainhome{
   margin-left: 215px; /* Same as the width of the sidebar */
    height : auto;
    padding: 10px 10px;
    background-color: #F5F5F5; 
}

.titlecuenta{
    padding-left: 1%;
    padding-top: 1%;
}

p.dir{
    background-color: #FBFBFB !important;
}

.icuenta{
    padding: 1%;
    padding-bottom: 1.5em;
}

.float-left{
    margin-left: 0%;
}

.buscar{
    margin-right: 0% !important;
    margin-left: 78% !important;
    padding-bottom: 2%;
}

.cookies{
             position: fixed;
             bottom: 0px;
             left: 0px;
             width: 110%;
             background-color: #15659E;
             padding: 7px;
             text-align: center;
             z-index: 99;
             color: white;
}

.buttoncookies{
    color: #0075C9;
    background-color: white !important
}

.buttoncookies-promo{
    color: #ffff;
    background-color: #adc743;
}

.button-sus{
    color: #fff;
    background-color: #0075C9 !important;

        
}


#div1{
    overflow: scroll;
    height: 300px;
    width: 500px;
}
#div1 .tabrut{
    font-size: small;

}
.rutamar{
    padding-left: 2%;
}

.text-white{
    color: white !important;

}
 
.estado{
    vertical-align: middle;
}

.regresar{
    padding-top: 3%;
}

.modificar{
    margin-top: 30%;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em; /* Set input font size */
    height: 2.188em;
    line-height: 1.875em;
    outline: medium none;
    padding: 0.5em 0.75em;
    width: 24.75em;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.twitter-typeahead {
    display: flex !important;
    flex-direction: column;
    width:100%;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 1em;  /* Set suggestion dropdown font size */
    padding: 0.188em 1.25em;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

.searchty, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em; /* Set input font size */
    height: 2.4em;
    line-height: 1.875em;
    outline: medium none;
    padding: 1em 1em ;
    width:100%;
}
.searchty {
    background-color: #FFFFFF;
}
.searchty:focus {
    border: 2px solid #0097CF;
}

.searchty2, .tt-query2, .tt-hint2 {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em; /* Set input font size */
    height: 2.4em;
    line-height: 1.875em;
    outline: medium none;
    padding: 1em 1em ;
}
.searchty2 {
    background-color: #FFFFFF;
}
.searchty2:focus {
    border: 2px solid #0097CF;
}


.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 0.5em 0;
    width: 26.375em;
}
.tt-suggestion2 {
    font-size: 1em;  /* Set suggestion dropdown font size */
    padding: 0.19em 1.25em;
}
.tt-suggestion2:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestionyy p {
    margin: 0;
}

.carousel-inner{
   width: 100%
}
    
.carousel-inner img {
    width: 100%;
    max-height: 30em;
    margin: auto;

    
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    /*height: 32.125em;*/
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.size3{
    font-size: 5em !important;
}

.bg-info{
     background-color: rgba(0,117,201,0.1) !important;
}

.bg-vivo{
    background-color: rgba(226, 75,75,0.1);
}

.vivo{
        /* la vieja sintaxis, obsoleta, pero todavía necesaria, prefijada, para Opera y Navegadores basados en Webkit */
    background: -prefix-linear-gradient(135deg, rgba(194, 40, 32, 1), rgba(0,0,0,0.2));

    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(135deg, rgba(194, 40, 32, 1), rgba(0,0,0,0.2));
    position:absolute;
    width:35em;
    height: 20em;
    color:white;
    top:12em;
    left: 10em;
    border-radius: 0.8em;

}

.bg-login{
    background-color: #0075C9;
    color: white;
    border-radius: 0.4em 0.4em 0 0 ; 
}

.bg-login2{
    background-color: #0075C9;
    color: white;
    
}

.login-caja{
    width:70%!important;
    margin-left:none !important;
    margin-right:none !important;
    
}

.flex-columnas{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.flex-columnas-register{
    display: flex;
    align-content: center;
    justify-content: center;
    
}


.margin-centrar{
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
    
}


.titulo-login{
    width: 104%;
    margin-left: -2%;
    margin-right: -2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 18px;
    
}

.titulo-registro{
 
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 18px;
    
}



.bg-white{
    background-color: white;
}

.input{
    border:solid 0.1em #0075C9;
}

.input2{
    border:solid 0.1em #0075C9 !important;
   
}

.inputv{
    border:solid 0.1em #93DE48;
    font-size:0.815em;
    
}

.inputfinan{
    border:solid 1px rgba(226, 75,75,0.2);
}



.border{
    
    box-shadow: 0.4em 0.4em 0.4em 0.46em rgba(149, 157, 165, 0.1);
    border-radius: 0.8em;
    background-color: white;
}

.mb-2{
    margin-bottom: 2em;
}

.mb-3{
    margin-bottom: 0.7em;
}


.mb-5{
    margin-bottom: 2em;
}

.mb-6{
    margin-bottom: 6em;
}



.mb-4{
    margin-bottom:1em;
}

.mb-bienv{
    margin-bottom: 0.2em;
}

.mt-2{
    margin-top: 2em;
}

.mt-3{
    margin-top: 3em;
}

.noml{
    margin-right: 0px;
}

.ml-1{
    margin-left: 0.3em;
}

.ml-2{
    margin-left: 1em;
}

.ml-22{
    margin-left: 2em;
}

.ml-23{
    margin-left: 2.3em;
}

.ml-25{
    margin-left: 2.5em;
}

.ml-3{
    margin-left: 3em;
}

.ml-4{
    margin-left: 4em;
}



.eliminar-margin{
    margin-left: 0em!important;
}


.ml-5{
    margin-left: 5em;
}

.ml-6{
    margin-left: 5.9em;
}

.ml-7{
    margin-left: 7em;
}

.ml-9{
    margin-left: 9em;
}

.ml-11{
    margin-left: 11em;
}

.mr-1{
    margin-right: 0.3em;
}

.mr-2{
    margin-right: 1em;
}

.mr-3{
    margin-right: 2.5em;
}

.nomb{
    margin-bottom: 0px;
}

.nopl{
    padding-left:0;
}

.pb-1{
    padding-bottom: 0.7em;
} 

.pb-2{
    padding-bottom: 2em;
} 

.pb-3{
    padding-bottom: 3em;
} 

.pb-5{
    padding-bottom: 5em;
} 

.pb-7{
    padding-bottom: 7em;
} 

.pb-13{
    padding-bottom: 13em;
} 

.padding-faq{
    padding-bottom: 13em;
}

.pb-bienv{
    padding-bottom: 2.5em;
}

.pl-1{
    padding-left: 1em;
}

.pl-2{
    padding-left: 2em;
}

.plr-8{
    padding-left: 8rem;
}
.pt-1{
    padding-top: 1em;
}

.pt-2{
    padding-top: 2em;
}

.pt-3{
    padding-top: 3em;

}

.pt-4{
    padding-top: 4em;

}

.pt-5{
    padding-top: 5em;

}

.pt-8{
    padding-top: 8em;

}

.pt-9{
    padding-top: 9em;

}

.pt-11{
    padding-top: 11em;

}

.padding-top-general{
    padding-top: 12em;
}

.pt-20{
    padding-top: 20em;

}
.pt-b{
    padding-top: 11em;
}

.pr-1{
    padding-right: 1em;
}

.pr-2{
    padding-right: 1.8em;
}

.prr-8{
    padding-right: 8rem;
}
.euro{
    visibility: hidden;
}

.lfinan{
    font-size: 1em;
    text-align: left;
}

.lfinan2{
    font-size: 1.2em;
    text-align: left;
}

.lfinan3{
    font-size: 1.2em;
    text-align: left;
}

.selectfinan{
     border:solid 1px rgb(226, 75,75) !important;
}

.active{
    font-weight: bold;
    background-color: #fff !important;
}

.offer{
    text-decoration:line-through;
}

.titlefaq{
    font-size: 1.1em;
    font-weight: bolder;
    font-family: sans-serif;
}

.subtitlefaq{
    font-size: 1.25em;
    font-family: sans-serif;
}

.menufaq{
    top:16em;
    position: fixed;
    width: 16%;
}

.containerfaq{
    margin-left: 30%; /* Same as the width of the sidebar */
    width : 70%;
    top:16em;
}

.containerfaq2{
    margin-left: 30%; /* Same as the width of the sidebar */
    width : 70%;
    top:7.5em;
}

.containercook{
    margin-top:20em !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    
    background-color: #fff;
}
.nav{
    padding-left:auto;
    list-style: none;
}
.nav2{
    float:none !important;
    padding-left:none !important;
    display:flex;
    justify-content:center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance:textfield;
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }





/* 
  ##Device = Movil
  ##Screen = B/w 320px to 568px
*/

@media only screen and (min-width : 320px) and (max-width : 768px) 
{ 
html, body{
    overflow-x:hidden;
}
body{
    font-family: "Roboto", sans-serif;  
    padding: 0px; 
    margin-right:0px !important;
    width: 100%;
}

.error{
    padding-top:15em;
    padding-bottom:10em;
    font-weight:bold;
    background-color:#0075c9 !important;
}

img.responsive { 
    width: 70%; 
}

.labelmov{
    padding-left:0;
}

.footfin{
    background-color: #C22820;
    color:white;
    font-size:0.7em;
    text-decoration:none;
}

footerfin{
    vertical-align: bottom;
    background-color: #C22820 !important;
}

.footli{
    list-style:none;
}

.footerimg{
    height:4em;
}

.condiciones{
    text-decoration:underline;
    
}

textarea{
    overflow: visible;
    resize: none;
}

#noparallax {
        background-image: url(../images/mobile.jpg);
        position: relative;
        background-position: bottom center;
        background-size: 180%;
        background-repeat: repeat-x;
        width: 40%;
        z-index: 30;
        opacity: 1;
        display: flex;
        align-items: center;
        height:40%;
    }

#fondo{
    opacity: 0;
}

#nubefondo2{
    opacity: 0;
}

#montanas0{
    opacity: 0;
}

#rrss{
    opacity: 0;
}
    
.position-relative{
    
}
.promoimg {
    position: relative;
    z-index: 30;
    opacity: 1;
    background-image: url(../images/mobile.jpg);
    background-position: bottom center;
    background-size: 180%;
    background-repeat: repeat-x;
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding-bottom: 0em;
    height:0%;
    
    overflow:hidden;
    height:25em;

}

.timeline-mobil{
    width:100%;
    
    
}

.timeline{
    height:5em;
}
.caja-flex{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.apartado{
    background-color: #0075C9;
    height: 15%; 
    padding-bottom: 1%;
    padding-top: 2%;
}

.margin-contacto{
    text-align: center;
    padding-right:5%;
}

.img-contacto{
    width:100%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}

.mg-con-text{
    margin-left:4%;
    width:92%;
}    

.bottom-contacto{
    margin-bottom:6%;
    
}

.flex{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-around;
    padding:none !important;
}

.subrallado-contacto{
    text-decoration: underline;
    font-weight: 500;
    color:#0075c9 !important;
    
}

.ancho2{
        padding-left: 0%;
        padding-right: 0%;

}

.padding-contacto{
    padding-right: 7%;
}

.time-absolute{
    opacity:0;
    position:absolute;
    z-index:-20;
    width:0%;
    overflow: hidden;
}



.titulo{
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:2em;
    font-weight:600!important;
    line-height:1.4;

}

.line{
    line-height:1.4;
    padding-bottom:1vh;
    font-weight: 400;
    font-size:16px;
    
}

.line-titular{
    line-height:1.4;
    margin-bottom:3vh;
    font-weight: 500;
    font-size:22px;
    
}

.line-titular-texto{
    line-height: 4vh;
    margin-bottom:2%;
    font-weight: 500;
    font-size:22px;
    
}


.subrallado{
    text-decoration: underline;
    font-weight: 500;
    color:#adc743 !important;
}

.linea-verde{
    color:#adc743 !important;
    background-color:#adc743 !important;
    height:2px;
    margin-bottom: 7%;
}

.block{
    color:#fff !important;
}

.bg-caja{
    background-color:#ffff;
    height:90%;
    width:100%;
    padding-right: 0px !important; 
    padding-left: 0px !important;

    /*outline-style: solid;
    outline-width: 20px;
    outline-color: #ffff;*/
    
    
    
}


.flex-between{
display: flex;
    justify-content: space-between;
    width: 70%;

}

.margin-footer{
       margin-left: 32%;
    width: 100%;
}

.margin-footer2{

    margin-top:-2%;
}

.margin-footer3{

    margin-top:0%;
}



/*codigo sofi*/

.containerinfo{
    padding-left:5%;
    padding-right:5%;
}

.eliminar-lista{

    list-style: none;
    padding: 0;
   
}

.btn-compra{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}
    
    

.pedir-gasoleo{
   
    display: flex;
  
    height: 100%;
     justify-content: center;
   

    
}

.fondo-gasoleo{
    background-color: #adc743;
    border-radius: 0px 0px 0px 0px;

}



.flex-pedido-general{
     display:flex;
    flex-direction: column;
     width: 100%;
     align-items: center;
     justify-content: center;

}

.text-size{
    font-size:22px;
    
}


.text-size2{
    font-size:15px;
    
}
.flex-pedido{
    display:flex;
    flex-direction:column;
 
    padding-bottom: 2%;
}

/*codigo sofi*/


.dos-columnas{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.boton-derecha{
    display:flex;
    justify-content:flex-end;
}

.alinear-boton{
    margin-top:0%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content:flex-end;
    padding-right:12%;
    padding-top:4%;
    
    
}

.alinear-boton-compra{
    margin-top:0%;
    display: flex;
   
    height: 100%;
    width: 100%;
    
    padding-right:0%;
   margin-bottom: 8%;
    
  
}


.margen{
    padding-bottom:5%;
    
}

.margin1{
    padding-left:8%;
    padding-right:5%;
    
}

.margin{
    padding-left:8%;
    padding-right:5%;
    
}

.columnas-texto{
    padding-left:8%;
    padding-right:8%;
    border-top-color: #0075c9;
    border-top-style: solid;
    border-top-width: 0px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    

}

.separador{
    border-top-color: #0075c9;
    border-top-style: solid;
    border-top-width: 0px;
    margin-top: 0px;
    
}

.separador2{
    border-top-color: #E5F0F9;
    border-top-style: solid;
    border-top-width: 20px;
   
    
}

.img-texto{
    width:100%;
    
}

.ocultar-mobile{

    display: none;
    
    
}

.color-texto{
    color:#fff;
  

}


.fondo-swipe{
    background-color:#005da0;
    
}

.fondo-swipe2{
    background-color:#fff;
   
   
}

.margin-info{
        margin-bottom: 5%;
}


.color-text{
    color:#0075C9;
}

#bloque-sus{
    
    width: 100vw;
    background-color:#adc743;
    margin-top:10%;


}

.ancho-sus{
    margin-left:10%;
    margin-right:10%;
}

.line-sus{
    line-height: 20px;
    margin-left:4%;
    margin-right:4%;
   
    
}

.padding-sus{
    padding-top:2%;
    
    
}


.margin-sus{
    margin-left: 23%;
   
}


.pt-20{
    padding-top:0%;
}
.margen-promo{
    margin-top:50%;
}









img.logo { 
    width: 90%; 
}

hr{
    background-color: #0075C9 !important;
    height :0.06em;
}

.row{
    margin-right: 0px !important;
    margin-left:0px !important;
}

.movillogo{
}

.movillogo2{
    padding-left:1em;
}

.movillogin{
    padding-top: 0em !important;
}

.movil
{
    margin-left: 5.2em;
}

.movil-faq{
    margin-left: 13%;
}

.ohnemargin{
    margin-top:0em !important;
}

.text-blue {
    color: #0075C9 !important;
}

.text-vivo {
    color: #C22820 !important;
}
#navbarsur {
    
    background-color: white;
}

.pt-2{
    padding-top: 2em;
}

.pt-1{
    padding-top: 1em;
} 

.pt-med{
    padding-top: 1.5em;
}

.carousel-inner {
    border-left: 0px;
    border-right: 0px;
}

.navbar-default .navbar-brand {
    color: #337ab7 !important;
}

ul{
    list-style: none;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7 !important;
}

.opacity-1 {
     /* la vieja sintaxis, obsoleta, pero todavía necesaria, prefijada, para Opera y Navegadores basados en Webkit */
    background: -prefix-linear-gradient(left top, rgba(234,244,251,.1), rgba(255,251,251,0.1));

    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to bottom right, rgba(234,244,251,.1), rgba(255,251,251,0.1));
  background-color: rgba(234,244,251,.5);
  height: 10em;
  width: 10em;
  position: absolute;
  top: 1em;
  left: 5em;
  color: #fff !important;
  text-align: center;
  padding-top: 1em;
  border-radius: 1em;
}

.carhead{
    background-color: black;
    color: white;
}

::-webkit-input-placeholder {
   text-align: left;
   vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: left;
   vertical-align: middle;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: left;  
   vertical-align: middle;
}

:-ms-input-placeholder {  
   text-align: left; 
   vertical-align: middle;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}


.navbar-nav {
   margin:0px !important;
}
.ar{
    height: 1.875em;
    background-color: lightgrey !important;
}

.ard{
    height: 3.125em;
    background-color: #0075C9 !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.gris{
    padding: 1%;
    height: 37.5em;
    width: 85%;
    background-color: lightgrey !important;
}

.grisnoruta{
    padding: 1%;
    height: 43.75em;
    width: 85%;
    background-color: lightgrey !important;
}

.grispedido{
    padding: 1%;
    height: 31.25em;
    width: 85%;
    background-color: #d3d3d3 !important;
}

.forms-control-blue{
    color: #0075C9;
}

.btnheight{
    color: white;
    background-color: #0075C9 !important;
    padding: 0px 0px !important;
    
}
.btn-primary {
    color: #fff;
    background-color: #0075c9 !important;
    border-color: #2e6da4;
 
}

.width-btn{
width: 70%;
    padding-left: 33%;
}

.margin-login{
        margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.margin-left-register{
    margin-left:0 !important;
}

.flex-columnas{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.flex-columnas-register{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.buttoncons{
    color: white;
    background-color: #0075C9 !important
}

.buttonfinan{
    color: white;
    background-color: #C22820 !important
}
.hazped{
    margin-left:2em;
    margin-right:2em;
    font-size: 1.2em  ;
}

.poblmov{
    font-size: 0.875em  ;
}

.grisbienvenido{
    padding: 1%;
    height: 5em;
    width: 100%;
    background-color: white;
}

.griscuenta{
    padding: 1%;
    height: 40%;
    width: 85%;
    background-color: #FBFBFB;
}

.grisfinanc{
    padding: 1%;
    height: 18.75em;
    width: 85%;
    background-color: lightgrey !important;
}

.separacion{
    padding: 0.5%;
    height: 1%;
    width: 100%;
    background-color: white;
}

.separaciontrans{
    padding: 0.5%;
    height: 5%;
    width: 100%;
    background-color: transparent;
}

.separacionCuenta{
    height: 1%;
    width: 100%;
    background-color: white;
}

.separacionTarifas{
    height: 0.313em;
    width: 100%;
    background-color: white;
}

.formcons{
    text-align: justify;
    vertical-align: middle;
    }

.formcons2{
    padding-top: 3%;
    text-align: justify;
}


.cuentaForm{
background-color: #FBFBFB;
}

.header{
    width: 100%;
    height: 20% !important;
    padding-bottom: 1%;
}


.bienve{
    padding: 1%;
    background-color: lightgrey;
}

h1{
    font-size:1.8em;
}

h2{
    font-size:1.6em;
}

h4{
    font-size:1em;
}


.col-xs-mobil{
    width: 50%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 0%;
}

.caja1{
    width:80%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-left:10%;
    margin-right:10%;
}
.centrar{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.padding-promo{
    padding-top:10%;
}


hr.gris2{
    border-top: thick solid #ccc;
}

hr.blue{
   border:  1px rgba(0,117,201,0.1);
   background-color: rgba(0,117,201,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 1em;
   width: 80%;
}
hr.blue-contacto{
    border: 1px rgba(0,117,201,0.1);
    background-color: rgba(0,117,201,0.2) !important;
   margin-top: 4%;
   margin-bottom: 2%;
    width: 90%;
}

hr.resumen{
     border: 1px rgba(0,117,201,0.1);
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 1em;
   width: 85%;
}

hr.blue2{
   border-top: 0.5px rgba(0,117,201,0.1);
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:  0px;
   width: 100%;
}

hr.red{
   border-top: solid 0.5px rgba(226, 75,75,0.2) !important;
   background-color: rgba(226, 75,75,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:  2em;
   width: 100%;
}

hr.red2{
   border-top: solid 0.5px rgba(226, 75,75,0.2) !important;
   background-color: rgba(226, 75,75,0.2) !important;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:  2em;
   width: 80%;
}

.sinlist{
    list-style: none;
}

.fecha{
    margin-left: 1%;
}

.total{
    font-size: 1.5em;
}

.total1{
    font-size: 1em;
}

.peq{
    font-size: 0.8em;
    margin-left: 1em;
}

.pedido{
    padding-top:20% ;
}

.detalles{
    padding-top:5% ;
}
a.detalles{
    color: black !important;
}

.showpanel{
    height: 18.75em;
    display:none;
}

.swipe-promo1{
    height:25%;
     display:none;
    
}

.swipe-promo2{
    height:25%;
     display:none;
    
}

.swipe-promo3{
    height:25%;
     display:none;
    
}

.direccion{
    height: 18.75em;
    width: 85%;
    display:none;
}

.slide{
    border-top:0.5px solid #0075C9;
}

.slideimg2 {
    display:none;
}
.slideimg{
    display:block;
    margin-left: 5px;

}
.slideimg3 {
    display:none;
    width: 85%;
}
.slideimg4 {
    display:none;
    width: 85%;
}
.slideimg5 {
    display:none;
    width: 85%;
}

.detalles{
    color:  white;
}

.margin-left{
    margin-left: 1%;
}

.margin-right{
    margin-right: 10%;
}

.paddingl{
    padding-left:0em !important;
}

.imgder{
    height: 12.5em;
    padding-top: 2%;
     background-color: #9D2235;
    color:  white;
}

.margin-vivo{
    margin-right: 7%;
    margin-left: 4%;
}


p.toggle{
    color: black
}
p.toggle-promo1{
    color:#fff;
    background-color:#adc743;
    
}

p.toggle-promo2{
    color:#fff;
    background-color:#adc743;
}

p.toggle-promo3{
    color:#fff;
    background-color:#adc743;
}

p.toggle-compra{
    color:#fff;
 background-color:#0075c9;
    
}

.ulnd{
    text-decoration: none;
    list-style: none;
}

.bg-promo{
    background-color: #0075C9;
    color:white;
    z-index:1;
    
}

.promo-img{
    width:100%;
}

.promo-img2 {
    width:100%;
    padding-left:6%;
    padding-right:6%;
    padding-top:10%;
}

.columna{
  
    margin-right:9%;
    text-align:center;
}

.bg-contacto{
    background-color: #d9edf7;
    height: 400px;
    width: 90%;
}
.bg-faq{
    background-color: #0075C9;
    width: 105%;
}

.bg-quienes{
    background-color: #d3d3d3;
    border-top: 2px solid blue ;
    height: 80%;
    width: 90%;
}

.quienes{
    list-style:none;
    margin-left: 5%;
    margin-right: 3%;
}


.quienes-politica{
    list-style:none;
    margin-left: 0%;
    margin-right: 8%;
}



.contacto{
    background-color: transparent;
    color: #d9edf7;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.contacto2{
    color: blue;
    padding: 5%;
}

.cont{
    padding-top: 5%;
}

.contacta{
    color: blue;
    font-size: 2em;
    padding-left: 5%;
    padding-top: 5%;
}

.titlequest{
    padding-left: 5%;
    padding-top: 5%;
}

.menuCuenta{ 
  height: 60%;
  width: 14%; /* Set the width of the sidebar */ 
  background-color: #FBFBFB; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 0px;
}

.licuenta {
    list-style: none;

}

.licuenta,a:hover{
    text-decoration: none;
}


.containerCuenta{
    margin-left: 13em; /* Same as the width of the sidebar */
    width : 70%;
    height : 50%;
    padding: 0.6em 0.6em;
    background-color: #FBFBFB;
}

.mainhome{
   margin-left: 13.438; /* Same as the width of the sidebar */
    height : auto;
    padding: 0.6em 0.6em;
    background-color: #F5F5F5; 
}

.titlecuenta{
    padding-left: 1%;
    padding-top: 1%;
}

p.dir{
    background-color: #FBFBFB !important;
}

.icuenta{
    padding: 1%;
}

.float-left{
    margin-left: 0%;
}

.buscar{
    margin-right: 0% !important;
    margin-left: 78% !important;
    padding-bottom: 2%;
}

.cookies-mov{
             font-size:0.8em;
             position: fixed;
             bottom: 0px;
             left: 0px;
             width: 150%;
             background-color: #0075C9;
             padding: 0.438em;
             text-align: left;
             z-index: 99;
             color: white;
}

.buttoncookies-mov{
    margin-left:3em;
    color: #0075C9;
    background-color: white !important
}

.buttoncookies-mov-promo{
    margin-left:3em;
    color: #ffff;
    background-color: #adc743;
}

.button-sus{
    color: #fff;
    background-color: #0075C9 !important;
    margin-top: 100%;
    margin-bottom: 100%;
}

.mbmov-3{
    margin-bottom:3em;
}

#div1{
    overflow: scroll;
    height: 18.75em;
    width: 31.25em;
}
#div1 .tabrut{
    font-size: small;
}

.rutamar{
    padding-left: 2%;
}

.text-white{
    color: white !important;

}
 
.estado{
    vertical-align: middle;
}

.regresar{
    padding-top: 3%;
}

.modificar{
    margin-top: 30%;
}

.ha{
    padding-left:0;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em; /* Set input font size */
    height: 2.188em;
    line-height: 1.875em;
    outline: medium none;
    padding: 0.5em 0.75em;
    width: 24.75em;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.twitter-typeahead {
    display: flex !important;
    flex-direction: column;
    width:100%;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0.75em;
    padding: 0.5em 0;
    width: 26.375em;
}

.tt-suggestion {
    font-size: 1em;  /* Set suggestion dropdown font size */
    padding: 0.188em 1.25em;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

.searchty, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em; /* Set input font size */
    height: 2.4em;
    line-height: 1.875em;
    outline: medium none;
    padding: 1em 1em ;
    width:100%;
}

.searchty {
    background-color: #FFFFFF;
}

.searchty:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0.75em;
    padding: 0.5em 0;
    width: 26.375em;
}

.tt-suggestion {
    font-size: 1em;  /* Set suggestion dropdown font size */
    padding: 0.188em 1.25em;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

.carousel-inner img {
    
    width: 100%;
    height:15em !important;
    margin:auto;
   
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    
    object-fit: cover;
  object-position: center;
    width: 100vw;
    line-height: 1;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size:2em !important;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.size3{
    font-size: 5em !important;
}

.bg-vivo{
    background-color: rgba(226, 75,75,0.2);
}

.vivo{
        /* la vieja sintaxis, obsoleta, pero todavía necesaria, prefijada, para Opera y Navegadores basados en Webkit */
    background: -prefix-linear-gradient(100deg, rgba(194, 40, 32, 0.8), rgba(0,0,0,0.2));

    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(100deg, rgba(194, 40, 32, 0.8), rgba(0,0,0,0.2));
    position:absolute;
    width:10em;
    height: 7em;
    color:white;
    top:27em;
    left: 6em;
    border-radius: 0.8em;

}

.bg-login{
    background-color: #0075C9;
    color: white;
   
}

.bg-login2{
    background-color: #0075C9;
    color: white;
    
}

.login-caja{
    width:100%!important;
    margin-left:none !important;
    margin-right:none !important;
    
}


.titulo-login{
    width: 108%;
    margin-left: -4%;
    margin-right: -1%;
    padding-top: 2%;
    padding-bottom: 2%;

    
}

.titulo-registro{
 
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 18px;
    
}




.bg-white{
    background-color: white;
}
.bg-info{
     background-color: rgba(0,117,201,0.1) !important;
}

.input{
    border:solid 1px #0075C9;
}

.input2{
    border:solid 1px #0075C9;
    width: 138% !important;
    padding-top: 0.313em;
    padding-bottom: 0.313em;
    border-radius: 0.25em;
}

.inputv{
    border:solid 0.1em #93DE48;
}

.inputfinan{
    border:solid 1px rgba(226, 75,75,0.2);
}

.border{
    
    box-shadow: 0.4em 0.4em 0.4em 0.46em rgba(149, 157, 165, 0.1);
    border-radius: 0.8em;
    background-color: white;
    padding-bottom: 1em;
}

.mb-2{
    margin-bottom: 2em;
}

pb-2{
    padding-bottom: 2em;
}
.mb-5{
    margin-bottom: 2em;
}

.xs-button{
    margin-left: 5.5em;
    margin-bottom: 2em;
}

.mb-bienv{
    margin-bottom: 0.2em;
}

.mt-2{
    margin-top: 2em;
}

.noml{
    margin-right: 0px;
}

.mlmov-halb{
    margin-left: 0.5em;
}

.mlmov-1{
    margin-left: 1em;
}

.mlmov-2{
    margin-left: 2em !important;
}

.mlmov-3{
    margin-left: 3em;
}

.mlmov-4{
    margin-left: 4em;
}

.mlmov-5{
    margin-left: 5em;
}

.mlmov-6{
    margin-left: 6em;
}

.mlmov-7{
    margin-left: 7em;
}

.mlmov-8{
    margin-left: 8em;
}

.mlmov-12{
    margin-left: 12em;
}
.nomb{
    margin-bottom: 0px;
}

.pb-1{
    padding-bottom: 0.7em;
} 

.pbmov-2{
    padding-bottom: 2em;
}

.pb-bienv{
    padding-bottom: 2.5em;
}

.ptmov-1{
    margin-top: 1em;
} 

.ptmov-2{
    margin-top: 2em;
} 

.ptmov-3{
    margin-top: 3em;
} 

.pl-1{
    padding-left: 0em;
}

.pl-2{
    padding-left: 2em;
}
.pt-esp{
    padding-top: 0.2em;
} 

.pt-1{
    padding-top: 1em;
}

.pt-2{
    padding-top: 2em;
}

.pt-3{
    padding-top: 3em;

}

.pt-b{
    padding-top: 11em;
}

.pt-mov{
    padding-top: 1em;
}

.pt-8{
    padding-top:0em;
}

.padding-top-general{
    padding-top: 3em;
}

.margin-left-faq{
    margin-left:-14%;
}


.burguer{
    position:absolute;
    top:0px;
    right:1em;
}

.euro{
    visibility: hidden;
}

.lfinan{
    font-size: 1.2em;
}

.lfinan2{
    font-size: 1.4em;
}

.selectfinan{
     border:solid 1px rgb(226, 75,75) !important;
}

.active{
    font-weight: bold;
    background-color: #fff !important;
}

.offer{
    text-decoration:line-through;
}

.titlefaq{
    font-size: 1.1em;
    font-weight: bolder;
    font-family: sans-serif;
}

.subtitlefaq{
    font-size: 1.25em;
    font-family: sans-serif;
}

.menufaq{
   width: 100%;
   margin-top: 10%;
}

.padding-faq{
    padding-bottom: 0;
}

.containerfaq{
    margin-left: 0%; /* Same as the width of the sidebar */
    width : 100%;
    top:0em;
    
}

.menufaq {
    top: 16em;
    position: inherit;
    /*width: 16%;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #0075C9;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0075c9;
}

.navbar-collapse.in {
    overflow-y: inherit;
}

.menumov{
    width: 25em;
    float: right;
} 

.ocultar-div{
    display:none;
}

h3{
    font-size: 1.2em;

}

.lista{
    margin-right: 19em;
}
.foot{
    background-color: #0075C9;
    color:white;
    font-size:1em;
    text-decoration:none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0.5em;
    line-height: 1.42857143;
    vertical-align: top;
}

.foc{
    outline:none;
}

/* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
        td {
            /* Behave  like a "row" */
            border: none;
            margin-top :1em;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 0.375em;
            width: 45%;
            padding-right: 0.625em;
            white-space: nowrap;
        }

        
    }

    .col-xsmov-12{
        float: left;
        with:  110%;
    }
    
    

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance:textfield;
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
}